# .pre-commit-config.yaml
exclude: '(CNAME|Gemfile|\..*\.y[a]?ml)'
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0  # use `pre-commit autoupdate` to get the latest rev
    hooks:
    - id: no-commit-to-branch
      args: ['--branch', 'main'] # prevent local commits to main branch
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0
    hooks:
    -   id: prettier
        types_or: [json, html, css, javascript, yaml, markdown]
ci:
    autofix_prs: true # set false to stop pull-request commits being added by pre-commit.ci
