# Project code owned by maintainers
* @restincode/maintainers

# User contributions supported by reviewers
people/ @restincode/reviewers
images/ @restincode/reviewers
peoplelist.json @restincode/reviewers
